#video {
  background: #000000;
  max-width:840px;
  margin:0 auto;
}

.re-re {
  height: auto   !important;
}

.my-work-section {
/*  display: none;*/
  animation: fadeIn 1s;
}

::selection {
  background: #ff025c; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ff025c; /* Gecko Browsers */
  color: white;
}


img.logo {
    max-width: 250px;
    margin-top:1%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    
}

.centered-text {
    text-align: center;
}

hgroup, footer {
    margin: 5% 0;
}

hgroup  {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 30px;
}

p, a, p a {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

p {
    margin: 10px 0;
}

a:hover img{
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 

a:hover p{
/*    transform: scale(1.2);*/
    font-size:2em;
    background: #ff025c;
    color: white;
    padding: 10px;
    display: block;
    margin:5px;
} 

a p {
    text-align: center;
}


/* unvisited link */
a:link {
  color: #ff025c;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: #460019;
}

/* mouse over link */
a:hover {
  color: #8a0031;
}

/* selected link */
a:active {
  color: #8a0031;
}


.overflow-hidden {
  overflow: hidden !important;
}


.typed-fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#selling-point {
    margin:100px 20px;
}
