img.logo {
    max-width: 250px;
    margin-top:5%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    
}

.centered-text {
    text-align: center;
}

hgroup, footer {
    margin: 5% 0;
}

hgroup  {

    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.4em;
    line-height: 1.5em;
}
p, a, p a {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
}

p {
    margin: 10px 0;
}

.image-grid a{
    display:inline-block; 
    margin-right:5px;
    text-align: center;
}

.image-grid a p{
    display: block;
    margin-top: 25px;
    font-weight: bold;
}


.image-grid a img{
    width: 200px;
    height:200px;
}


.image-grid a:hover img{
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

 

/* unvisited link */
a:link {
  color: #ff025c;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: #460019;
}

/* mouse over link */
a:hover {
  color: #8a0031;
}

/* selected link */
a:active {
  color: #8a0031;
}