
/* 
  image grid css
 */

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
 
  -ms-flex: 33.333333333333333%; /* IE10 */
  flex: 0 0 33.333333333333333%;
  max-width: 33.333333333333333%;
  padding: 0 4px;

}

.column img {
  padding:5px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  h1.hello {
    font-size:13vw;
  }

  .column {
    -ms-flex: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

